<nav class="nav">
    <a class="nav-link" [routerLink]="['/form']">Form</a>
    <a class="nav-link" [routerLink]="['/grid']">Grid</a>
    <a class="nav-link" [routerLink]="['/float']">Float</a>
    <a class="nav-link" [routerLink]="['/modal']">Modal</a>
    <a class="nav-link" [routerLink]="['/table']">Table</a>
    <a class="nav-link" [routerLink]="['/alert']">Alert</a>
    <a class="nav-link" [routerLink]="['/scrollspy']">Scrollspy</a>
    <a class="nav-link" [routerLink]="['/tabset']">Tabset</a>
  </nav>